<!DOCTYPE html>
<html ng-app="myApp" ng-controller="addPlace">

<head>
    <title>Add Place</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="login.css" type="text/css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">

          <div class="navbar-header">
              <a class="navbar-brand" href="Screenshot 1942-04-02 at 4.23.40 PM.png">Logo</a>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/owner/ownerViewsBusinessPage">View My Business Page</a></li>
                  <li><a href="/logOut">Log Out</a></li>
              </ul>
          </div>

      </div>
  </nav>

  <div class="search container-fluid">

    <form method="post" action="/owner/addPlace" id="form">

      <div class="form-group">
       <label for="name">Name:</label>
       <input ng-model="name" type="text" class="form-control" name="name" id="name" required="true">
      </div>

      <div class="form-group">
       <label for="Description">Description:</label>
       <input ng-model="description" type="text" class="form-control" name="description" id="Description" required="true">
      </div>

      <div class="form-group">
       <label for="price">Price:</label>
       <input ng-model="price" type="text" class="form-control" name="price" id="name" required="true">
      </div>

      <div class="form-group">
        <label>mustPay: </label>
        <input type="checkbox" name="mustPay">
      </div>

      <div class="form-group">
          <label for="image">Image</label>
          <input type="file" name="pic" accept="image/*" id="image">
      </div>

      <div class="form-group" style="visibility: hidden;display: none">
          <label for="isPlace">isPlace</label>
          <input type="checkbox" name="isPlace" value="true" id="isPlace">
      </div>

      <div>
        <label >Opening times</label>
        <fieldset  data-ng-repeat="choice in choices">
          <input type="datetime" class="form-control" name="openingTimes" value="Fri Sep 16 2011 19:05:17 GMT+0900 (JST)">
          <button type="button" class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
        </fieldset>

        <button type="button" class="addfields" ng-click="addNewChoice()">Add fields</button></br>
      </div>

      <div class="form-group">
       <label for="period">Period in minutes:</label>
       <input ng-model="period" type="Number" class="form-control" name="period" id="period" required="true">
      </div>

      <button type="button" class="btn btn-default" id="btn">Submit</button>
      <a href="javascript:history.back()" class="btn btn-default">Cancel</a>

    </form>


      <script src="/public/libs/angular/angular.js"></script>
      <script src="/public/libs/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="../addPlace.js"></script>

  </div>

</body>

</html>
