<!DOCTYPE html>
<html lang="en-us" ng-app = "myApp" ng-controller="homeController">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/public/libs/angular/angular.js"></script>
    <script src="/public/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="home.js"></script>
    <link href="home.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand"  ng-click= "refreshClick()">Home</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="actor=='visitor'"><a href="/visitor/SignUp">Sign Up</a></li>
                    <li ng-if="actor=='visitor'"><a href="/visitor/SignUp">Sign in</a></li>
                    <li ng-if="actor=='visitor'"><a href="/visitor/Login">Log In</a></li>
                    <li ng-if="actor=='visitor'"><a href="/visitor/RequestPage">Request a Page</a></li>
                    <li ng-if="actor!='visitor'"><a href="/logOut">Log Out</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="search">
        <form class="content navbar-form">
            <div class="input-group">
                <input type="text" ng-model="searchWord" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-model = "pressed" ng-click= "searchClick()" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div ng-hide= "pressed" class="container">
    <div class="well well-sm">
        <strong>Popular Business Pages</strong>
    </div>
    <div id="popularBusniessPagesList" class="row list-group">
        <div ng-repeat="popularBusinessPage in popularBusinessPages">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src={{popularBusinessPage.profileImg}} alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{popularBusinessPage.name}}</h4>
                        <p class="group inner list-group-item-text">
                            {{popularBusinessPage.description}}</p>
                            <p class="group inner list-group-item-text">
                                {{popularBusinessPage.phonenumber}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <form method="post" action="/viewsBusinessPage">
                            <input ng-model="popularBusinessPage._id" type="text" class="form-control" name="_id" style="visibility:hidden;display:none">
                            <button type="submit" class="btn btn-primary">Check</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div ng-show= "pressed" class="container">
    <div class="well well-sm">
        <strong>{{searchWord}}</strong>
    </div>
    <div id="searchBusniessPagesList" class="row list-group">
        <div ng-repeat="searchBusinessPage in searchBusinessPages">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src={{searchBusinessPage.profileImg}} alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{searchBusinessPage.name}}</h4>
                        <p class="group inner list-group-item-text">
                            {{searchBusinessPage.description}}</p>
                            <p class="group inner list-group-item-text">
                                {{searchBusinessPage.phonenumber}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <form method="post" action="/viewsBusinessPage">
                            <input ng-model="searchBusinessPage._id" type="text" class="form-control" name="_id" style="visibility:hidden;display:none">
                            <button type="submit" class="btn btn-primary">Check</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>
